/*
primary: #2196f3
secondary: #76ff03
text: #00352c
*/
body {
    background-color: #a6cfe2;
    font-family: 'Lato', sans-serif;
}
button {
    margin-top: 2%;
    position:relative;
    left:30%;
}
input {
    width: 50%;
}

label {
    padding-right: 5%;
}
li {
  padding-bottom: 10%;
}
.ui {
    float: left;
    margin-top: -23%;
}
.ui-item {
    display: block;
}
.default-color {
    background-color: #000000;
}
.sketch-cell {
    border: 1px solid #76ff03;
}
#sketchpad {
    margin: 0 auto;
    margin-top: 3%;
    width: 800px;
    height: 600px;
    background-color: #ffffff;
    display: flex;
}

