/*
primary: #2196f3
secondary: #76ff03
text: #00352c
*/
body {
    background-color: #2196f3;
}
button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
#buttons {
    display: inline-block;
}
#sketchpad {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -2.5%;
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    display: flex;
}
.sketch-cell {
    border: 1px solid #76ff03;
}    