/*
primary: #2196f3
secondary: #76ff03
text: #00352c
*/
body {
    background-color: #2196f3;
}
#sketchpad {
    width: 960px;
    height: 745px;
    background-color: #ffffff;
    display: grid;
}
.sketch-cell {
    height: 60px;
    width: 60px;
    border: 1px solid #76ff03;
}    